{% extends 'base.html' %}

{% load static %}

{% load markdown_extras %}

{% load humanize %}

{% block head_title %}
GOSL - Notices
{% endblock head_title %}

{% block content %}
<div class="container my-3 pb-5 border rounded-4 add-notice">
    <br>
    <div>
        <input class="form-control rounded-pill shadow"
            placeholder="Search Notices"
            type="search"
            name="q"
            id="">
    </div>
    <br>
    {% for notice in object_list %}
    <a title="{{notice.title|title}}" class="text-decoration-none text-dark"
        href="{{notice.get_absolute_url}}">
        <div class="border shadow pb-5 pt-3 px-4 rounded-4 mb-2 hover">
            <h5>{{notice.title|truncatechars:45|title }}</h5>
            <hr>
            <p class="float-start text-muted">{{notice.updated_at|naturaltime}}
            </p>
            <p class="float-end text-muted">{{notice.category|truncatechars:15}}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}